body{
  background-color: grey;
}
.player1{
  float: left;
  background-color: grey;
  padding: 50px;
  margin-right: 60px;
}
.player2{
float: left;
background-color: yellow;
padding: 50px;
margin-left: 20px;
}
img{
  width: 200px;
  height: 200px;
}
.jumbotron{
  padding-left: 100px;
  }
h6{
  cursor: pointer;
}
.viewhelp{
  display: none;
}
.viewrules{
  display: none;
}
h5{
cursor: pointer;
}
li{
  list-style-type: none;
}
form{
margin: 30px;
padding: 30px;
}
.contain{
  float: left;
  padding: 50px;
  background-image: url(../images/dice.jpg);
}
