.player1{
  float: left;
}
.player2{
float: right;
}
img{
  width: 200px;
  height: 200px;
}
.jumbotron{
  }
h6{  
  cursor: pointer;
}
.viewhelp{
  display: none;
}
.viewrules{
  display: none;
}
h5{
cursor: pointer;
}
